/* Tasks.module.css */

/* Centraliza o conteúdo na tela horizontal e verticalmente */
.centeredContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

/* Estiliza o cabeçalho de tarefas */
.taskHeader {
  border-bottom: 1px solid var(--gray-300);
  justify-content: space-between;
  display: flex;
  width: 46rem;
  padding-bottom: 24px;
}

/* Estilo para o texto "Tarefas criadas" */
.taskCreated {
  color: var(--blue);
}

/* Estilo para o texto "Concluídas" */
.taskCompleted {
  color: var(--purple);
}

.counter {
  color: var(--white);
  border-radius: 999px;
  padding: 2px 8px;
  background: var(--gray-400);
  margin-left: 0.5rem;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* Centraliza o conteúdo na tela verticalmente */
.centeredTasks {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}

/* Container para centralizar o clipboard na tela */
.clipboardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilo para a imagem do clipboard */
.clipboard {
  max-width: 100%; /* Ajusta a largura máxima conforme necessário */
}

/* Estilo para o texto "Você ainda não tem tarefas cadastradas" */
.noTask {
  color: var(--gray-300, #808080);
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  margin-top: 16px; /* Espaçamento superior */
}

/* Estilo para o texto "Crie tarefas e organize seus itens a fazer" */
.noTaskThin {
  color: var(--gray-300, #808080);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  margin-top: 8px; /* Espaçamento superior menor */
}

.centeredTasks {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.tasksAdded {
  background: var(--gray-500);
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: left;
  gap: 12px;
  width: 46rem;
  color: var(--gray-100);
  border-radius: 8px;
  border: 1px solid var(--Gray-400, #333);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.06);
}
